*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

/.idea/
/app/release
/app/fabric.properties
/app/src/main/res/values/secret.xml
/app/src/main/res/values/com_crashlytics_export_strings.xml
libs/
src/main/assets/
src/main/res/values/com_crashlytics_export_strings.xml
/app/src/main/assets/
.project

report.xml